.popup {
	background-color: black;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, 0.8);
	z-index: 9999;
	visibility: hidden;
	transition: all 0.3s;

	@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
		background-color: rgba($color-black, 0.3);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}

	&__content {
		background-color: $color-white;
		@include absCenter;
		width: 75%;
		display: table;
		box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
		border-radius: 3px;
		overflow: hidden;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
		transition: all 0.5s 0.2s;
	}

	&__left {
		width: 33.333333333%;
		display: table-cell;
		@include respond(tab-land) {
			display: table-row;
		}
	}

	&__right {
		width: 66.666666666667;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
		@include respond(tab-land) {
			display: table-row;
			text-align: center;
		}
	}

	&__img {
		display: block;
		width: 100%;
		@include respond(tab-land) {
			display: inline-block;
			width: 50%;
			height: 100%;
		}
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 4rem;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 4rem;
		-moz-column-gap: 4rem;
		column-gap: 4rem;
		-webkit-column-rule: 1px solid $color-gray-light-2;
		-moz-column-rule: 1px solid $color-gray-light-2;
		column-rule: 1px solid $color-gray-light-2;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		padding: 0 2rem;
		@include respond(phone) {
			font-size: 1rem;

			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
	}

	// Open state
	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &__content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	&__close {
		&:link,
		&:visited {
			color: $color-gray-dark;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 3rem;
			text-decoration: none;
			display: inline-block;
			transition: all 0.2s;
			line-height: 1;
		}
		&:hover {
			color: $color-primary;
		}
	}
}
