*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1 rem is
	font-size: 62.5%; //1rem = 10px - 10px/19px = 62.5%

	@include respond(tab-land) {
		font-size: 56.25%; //1rem = 8px - 8xpx/19px = 56.25%
	}

	@include respond(tab-port) {
		font-size: 50%; //1rem = 8px - 8px/19px = 50%
	}

	@include respond(big-desk) {
		font-size: 75%; //1rem = 12px - 12px/16px = 62.5%
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;
	@include respond(tab-port) {
		padding: 0;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}
